<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flare</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>dev.dimension.flare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flare</string>
				<string>pixiv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Flare requesting the ability to add to the photo library</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OPML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.dimension.flare.opml</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OPML Document</string>
			<key>UTTypeIdentifier</key>
			<string>dev.dimension.flare.opml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-opml</string>
					<string>application/xml</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<!-- Legacy PNG sizes for the alternate icons (ios/AlternateIcons), which App Store Connect asks for. -->
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon_black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_black60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_black</string>
			</dict>
			<key>AppIcon_blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_blue60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_blue</string>
			</dict>
			<key>AppIcon_cyan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_cyan60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_cyan</string>
			</dict>
			<key>AppIcon_light_blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_light_blue60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_light_blue</string>
			</dict>
			<key>AppIcon_orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_orange60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_orange</string>
			</dict>
			<key>AppIcon_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_red60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_red</string>
			</dict>
			<key>AppIcon_teal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_teal60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_teal</string>
			</dict>
			<key>AppIcon_white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_white60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_white</string>
			</dict>
			<key>AppIcon_yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_yellow60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_yellow</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon_black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_black76x76</string>
					<string>AppIcon_black83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_black</string>
			</dict>
			<key>AppIcon_blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_blue76x76</string>
					<string>AppIcon_blue83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_blue</string>
			</dict>
			<key>AppIcon_cyan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_cyan76x76</string>
					<string>AppIcon_cyan83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_cyan</string>
			</dict>
			<key>AppIcon_light_blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_light_blue76x76</string>
					<string>AppIcon_light_blue83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_light_blue</string>
			</dict>
			<key>AppIcon_orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_orange76x76</string>
					<string>AppIcon_orange83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_orange</string>
			</dict>
			<key>AppIcon_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_red76x76</string>
					<string>AppIcon_red83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_red</string>
			</dict>
			<key>AppIcon_teal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_teal76x76</string>
					<string>AppIcon_teal83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_teal</string>
			</dict>
			<key>AppIcon_white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_white76x76</string>
					<string>AppIcon_white83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_white</string>
			</dict>
			<key>AppIcon_yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_yellow76x76</string>
					<string>AppIcon_yellow83.5x83.5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon_yellow</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
